{% extends 'admin/base.html' %}
{% from 'utils/macros.html' import form_fields %}
{%- set scripts = scripts|default([]) + ['jquery.tokeninput.js'] %}
{%- set styles = styles|default([]) + ['widgets.css'] %}

{% block admin_content %}
<h1>
	{%- if form.name.data %}
		{{ _('Edit Forum') }}
	{%- else %}
		{{ _('Create new Forum') }}
	{%- endif %}
</h1>
<form action="" method="post" id="admin_new_forum">
  {{ form_fields(form, class="horiz-left") }}
  <fieldset class="actions">
    <input type="submit" value="{{ _('Submit') }}">
  </fieldset>
</form>
{% endblock %}
