{% macro render_diff_part(diff) %}
  {% autoescape false %}
  <table class="diff">
    {%- for chunk in diff.chunks -%}
      {% if not loop.first -%}
        <tr class="ellipsis">
          <th colspan="3">…</th>
        </tr>
      {%- endif -%}
      {% for line in chunk %}
        <tr class="line {{ line.action }}">
          <th class="old_rev" id="oldline{{ line.old_lineno }}"><pre><a href="#oldline{{ line.old_lineno }}">{{ line.old_lineno }}</a></pre></th>
          <th class="new_rev" id="newline{{ line.new_lineno }}"><pre><a href="#newline{{ line.new_lineno }}">{{ line.new_lineno }}</a></pre></th>
          <td class="code">{{ line.line }}</td>
        </tr>
      {%- endfor -%}
    {% endfor %}
  </table>
  {% endautoescape %}
{% endmacro %}
