{% macro render_diff_part(diff) %}
  {% autoescape false %}
  <table class="diff">
    {%- for chunk in diff.chunks -%}
      {% if not loop.first -%}
        <tr class="ellipsis">
          <th colspan="3">…</th>
        </tr>
      {%- endif -%}
      {% for line in chunk %}
        <tr class="line {{ line.action }}">
          <th class="old_rev" id="oldline{{ line.old_lineno }}"><pre><a href="#oldline{{ line.old_lineno }}">{{ line.old_lineno }}</a></pre></th>
          <th class="new_rev" id="newline{{ line.new_lineno }}"><pre><a href="#newline{{ line.new_lineno }}">{{ line.new_lineno }}</a></pre></th>
          <td class="code">{{ line.line }}</td>
        </tr>
      {%- endfor -%}
    {% endfor %}
  </table>
  {% endautoescape %}
{% endmacro %}

{% macro render_field(field) %}
  {# TODO: remove __class__.__name__ hack! #}
  {% if field.label and not field.widget.__class__.__name__ == 'HiddenInput' %}<dt>{{ field.label }}</dt>{% endif %}
  <dd>{{ field(**kwargs) }}
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_form(form, method="post", action="", enctype=none, submit_value="Submit") %}
    <form method="{{ method }}" action="{{ action }}"{% if enctype %} enctype="{{ enctype }}"{% endif %}>
      <dl>
      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}
      </dl>
      <p><input type="submit" value="{{ submit_value }}"></p>
    </form>
{% endmacro %}
