{% extends "news/base.html" %}
{% block title %}{{ _("Archive") }}{% endblock %}
{% from "news/_article.html" import render_article %}
{%- if month_list %}
  {% set trace = [[_('Archive'), href('news/archive')]] %}
{%- else %}
  {%- if not month %}
    {%- set trace = [[_('Archive for %(year)s', year=year), href('news/archive', year=year)]] %}
  {%- elif not day %}
    {%- set trace = [[_('Archive for %(month)s', month=date|monthformat), href('news/archive', year=year, month=month)]] %}
  {%- else %}
    {%- set trace = [[_('Archive for %(day)s', day=date|dateformat('full')), href('news/archive', year=year, month=month, day=day)]] %}
  {%- endif %}
{%- endif %}

{% block content %}
  {%- if month_list %}
    <ul>
    {%- for item in articles %}
      <li><a href="{{ href('news/archive', year=item.year, month=item.month) }}">
        {{ item|monthformat }}
      </a></li>
    {%- else %}
      <li><em>{{ _("empty archive") }}</em></li>
    {%- endfor %}
    </ul>
  {%- else -%}
    {%- for article in articles %}
      {{ render_article(article) }}
    {%- endfor %}
    {{ pagination() }}
  {%- endif %}
{% endblock %}
