{%- extends 'portal/base.html' %}

{% block introduction %}
{{ _('On this page you can see all members of “%(group)s”.', group=group.name) }}
{% endblock %}

{%- block content %}
<h1>{{ _('Group “%(group)s”', group=group.name) }}</h1>

{% for user in users %}
<div class="zealots {{ loop.cycle('zealot-left', 'zealot-right') }}">
  {# TODO: yet a dummy! #}<img src="{{ href('static', file='img/no_avatar.png') }}">
  <span><a href="{{ href(user.profile) }}">{{ user.profile.real_name }}</a> / <a href="{{ href(user.profile) }}">{{ user.display_name }}</a><br>
     {%- if user.profile.website %}{{ _('Website: ') }}<a href="{{ user.profile.website }}">{{ user.profile.website }}</a>{% endif -%}
     {%- if user.profile.location %}{{ _('Location: ') }}{{ user.profile.location }}{% endif -%}
  </span>
</div>
{% else %}
<span>{{ _('There are no users in this group yet!') }}</span>
{% endfor %}
<br style="clear: both;">
</div>

{{ pagination }}
{%- endblock %}
