{% extends "portal/base.html" %}

{% block introduction %}
<h1>{{ _('Welcome to Inyoka') }}</h1>
{{ _('Inyoka is a portal software that integrates a complete News, Wiki and Bulletin Board system next to a pastebin application.  It\'s written in <a href="%(python_link)s">Python</a> and uses various opensource technologies.', python_link='http://python.org') }}
{% endblock %}

{% block content %}
<div id="portal" class="clear">
  <div class="column">
    <h2>{% trans %}Latest Content{% endtrans %}</h2>
    <div class="content">
    {% if latest_content %}
      <ul class="itemlist">
        {% for app, item in latest_content %}
        <li class="{{ app }}"><a href="{{ href(item) }}">{{ item }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
    <strong>{{ _('There\'s no content yet!') }}</strong>
    {% endif %}
    </div>
  </div>
  {% if tag_cloud %}
  <div class="column tagcloud">
    <h2>{{ _('Tags') }}</h2>
    {%- for tag in tag_cloud %}
      <a href="{{ href('portal/tag', slug=tag['slug']) }}" class="tag" style="font-size: {{ tag.size }}%"
                  title="{% trans num=tag.count, tag=tag.name %}{{ num }} item tagged {{ tag }}{% pluralize %}{{ num }} items tagged {{ tag }}{% endtrans %}">
        {{ tag.name }}
      </a>
    {%- endfor %}
    {%- else %}
    {% if more_tags %}
    <br>
    <a href="#">{{ _('more Tags') }}</a>
    {% endif %}
  {% endif %}
  </div>
</div>

{% endblock %}
