{% extends "portal/base.html" %}

{% block introduction %}
  <h1>{{ _('Welcome to Inyoka') }}</h1>
  {{ _('Inyoka is a portal software that integrates a complete News, Wiki and Bulletin Board system next to a pastebin application.  It\'s written in <a href="%(python_link)s">Python</a> and uses various opensource technologies.', python_link='http://python.org') }}
{% endblock %}

{% block content %}
  <div id="portal" class="clear">
    {% if articles %}
      <div class="column">
        <h2>{{ _('News') }}</h2>
        <ul>
          {%- for article in articles %}
            <li><a href="{{ href('news/detail', slug=article.slug) }}">{{ article.title }}</a></li>
          {%- endfor %}
        </ul>
      </div>
    {%- endif %}
    {% if tag_cloud %}
      <div class="column tagcloud">
        <h2>{{ _('Tags') }}</h2>
        {%- for tag in tag_cloud %}
          <a href="{{ href('portal/tag', slug=tag['slug']) }}" class="tag" style="font-size: {{ tag.size }}%"
                      title="{% trans num=tag.count, tag=tag.name %}{{ num }} item tagged {{ tag }}{% pluralize %}{{ num }} items tagged {{ tag }}{% endtrans %}">
            {{ tag.name }}
          </a>
        {%- endfor %}
        {% if more_tags %}
          <br>
          <a href="#">{{ _('more Tags') }}</a>
        {% endif %}
      </div>
    {% endif %}
  </div>

{% endblock %}
