{%- extends 'portal/base.html' %}
{%- set fields = [
    ['real_name', _('Real name')],
    ['website', _('Website')],
    ['location', _('Location')],
    ['interests', _('Interests')],
    ['occupation', _('Occupation')],
    ['signature', _('Signature')],
    ['jabber', _('Jabber')],
    ['skype', _('Skype')],
] %}

{%- block content %}
<h1>{{ user }}</h1>
<ul>
  {%- for key, name in fields %}
  <li>{{ name }}: {{ user.profile[key] or '–' }}</li>
  {%- endfor %}
</ul>
{% if user == request.user %}<a href="{{ href('usercp/profile') }}">{{ _('Edit Profile') }}</a>{% endif %}

{%- endblock %}
