{% extends "portal/base.html" %}
{% from 'utils/macros.html' import form_field, magic_filter_form %}
{%- set scripts = scripts|default([]) + ['jquery.tokeninput.js'] %}
{%- set styles = styles|default([]) + ['widgets.css'] %}
{%- set trace = [[_('Search'), href('portal/search')]] %}

{% block content %}
  <form action="" method="get">
    <ol>
      <li class="horiz-left">{{ form_field(form.q) }}</li>
      {{ magic_filter_form(form) }}
    </ol>
    <fieldset class="actions">
      <input type="submit" value="{{ _('Search') }}">
    </fieldset>
  </form>

  {%- if corrected|default() %}
    <p>{{ _('Did you mean:') }} <a href="{{ href('portal/search', q=corrected) }}">{{ corrected }}</a></p>
  {%- endif %}

  {%- if results is defined %}
    {%- for result in results %}
      <strong><a href="{{ result['link'] }}">{{ highlight(result['title'], 50)|safe }}</a></strong>
      <p>
        {{ highlight(result['text'], 400)|safe }}
      </p>
      <p>
        {%- for tag in result.get('tag', []) %}
          <a class="tag" href="{{ href(tag) }}">{{ tag }}</a>
        {%- endfor %}
      </p>
    {%- else %}
      <p>{{ _('No matches found.') }}</p>
    {%- endfor %}

    {{ pagination() }}
  {%- endif %}
{% endblock content %}
