{% extends "portal/base.html" %}
{%- set trace = [[_('Tags'), href('portal/tags')], [_('“%(tag)s“', tag=tag.name), href(tag)]] %}

{% block content %}
  <ul>
    <li><a href="{{ href('portal/tag_edit', slug=tag.slug) }}">{{ _('Edit') }}</a></li>
    <li><a href="{{ href('portal/tag_delete', slug=tag.slug) }}">{{ _('Delete') }}</a></li>
  </ul>
  {% for taggable in content %}
    <div class="column">
      <h2>{{ taggable.name }}</h2>
      <div class="content">
        <ul class="itemlist">
          {% for item in taggable.item_list %}
            <li class="{{ taggable.list_class }}"><a href="{{ href(item) }}">{{ item }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
{% endblock %}
