{%- extends 'portal/base.html' %}
{% from 'utils/macros.html' import user_link %}
{%- set trace = [[_('Userlist'), href('portal/users')]] %}

{% block introduction %}
  {{- _('On this page you can see all registered users.') -}}
{% endblock %}

{%- block content %}
  <table>
    <tr>
      <th>{{ table.get_html('id', _('#')) }}</th>
      <th>{{ table.get_html('username', _('Username')) }}</th>
      <th>{{ table.get_html('date_joined', _('Date joined')) }}</th>
    </tr>
    {%- for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user_link(user) }}</td>
        <td>{{ user.date_joined|datetimeformat('short') }}</td>
      </tr>
    {%- endfor %}
  </table>
  {{ pagination() }}
{%- endblock %}
