{% macro render_article(article) -%}
  <div class="article {{ article.hidden and ' hidden' or '' }}">
    <h2 class="title"><a href="{{ href(article) }}">{{ article.title }}</a></h2>
    <p class="meta">
      <span class="published">{{ article.updated|dateformat }} {{ article.updated|timeformat('short') }}</span>
      <span class="tags">{% for tag in article.tags %}<a href="{{ href('news/index', slug=tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</span>
      <span class="comments"><a href="{{ href(article, _anchor='comments') }}">
        {% if article.comment_count %}
        {%- trans count=article.comment_count, human_count=article.comment_count|humanize|capitalize -%}
        {{ human_count }} Comment{% pluralize %}{{ human_count }} Comments
        {%- endtrans -%}
        {% else %}
        {{ _('No Comments') }}
        {% endif %}
      </a></span>
    </p>
    {{ article.intro or article.text }}
    {% if article.intro -%}{{ _('…') }}{% endif %}
  </div>
{%- endmacro %}
