{% extends "news/base.html" %}
{% set title_trace = [_('Archive')] %}
{% block title %}{{ _("Archive") }}{% endblock %}
{% from "news/_article.html" import render_article %}
{% block content %}
  {%- if month_list %}
    <h2>{{ _('Archive') }}</h2>
    <ul>
    {%- for item in articles %}
      <li><a href="{{ href('news/archive', year=item.year, month=item.month) }}">
        {{ item|monthformat }}
      </a></li>
    {%- else %}
      <li><em>{{ _("empty archive") }}</em></li>
    {%- endfor %}
    </ul>
  {%- else -%}
    {%- if not month %}
      <h2>{{ _('Archive for %(year)s', year=year) }}</h2>
    {%- elif not day %}
      <h2>{{ _('Archive for %(month)s', month=date|monthformat) }}</h2>
    {%- else %}
      <h2>{{ _('Archive for %(day)s', day=date|dateformat('full')) }}</h2>
    {%- endif %}
    {%- for article in articles %}
      {{ render_article(article) }}
    {%- endfor %}
    {{ pagination }}
  {%- endif %}
{% endblock %}
