{%- extends 'base.html' %}
{% set title_trace = title_trace|default([]) + [_('News')] %}
{% set styles = ['news.css'] + styles|default([]) %}

{% block sidebar %}
  <div class="container">
    <h3 class="navi_archive">{{ _('Archive') }}</h3>
    <ul>
      <li><a href="{{ href('news/index') }}">{{ _('Latest Articles') }}</a></li>
      {%- for year, month in archive -%}
      <li><a href="{{ href('news/archive', year=year, month=month) }}">
        {{ months[month] }} {{ year }}
      </a></li>
      {%- endfor %}
      {%- if short_archive %}
      <li><a href="{{ href('news/archive') }}">{{ _('Archive') }}</a></li>
      {% endif -%}
    </ul>
    {% if categories %}
      <h3 class="navi_categories">{{ _('Categories') }}</h3>
      <ul>
      {%- for category in categories -%}
        <li><a href="{{ href(category) }}">{{ category.name|e }}</a></li>
      {%- endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
