{%- extends 'news/base.html' %}

{% set title_trace = [article.title|e] %}

{% block content %}
  <div class="article">
    <h3 class="title"><a href="{{ href(article) }}">{{ article.title|e }}</a></h3>
    <div class="intro">
      {{ article.rendered_intro }}
    </div>
    <div class="text">
      {{ article.rendered_text }}
    </div>
    <p class="meta">
      {%- trans author_url=href(article.author.profile), author_name=article.author.username|e,
                article_pubdate=article.pub_date|datetimeformat('short')|e, tag_url=href('news/index', slug=article.tag.slug),
                tag_name=article.tag.name|e -%}
      written by <a href="{{ author_url }}">{{ author_name }}</a> {{ article_pubdate }}
      in <a href="{{ tag_url }}">{{ tag_name }}</a>
      {%- endtrans %}
      {%- if article.was_updated %}
      – {{ _('updated on') }} {{ article.updated|datetimeformat('short') }}
      {%- endif %}
      – {% trans count=article.view_count %}{{ count }} visit{% pluralize %}{{ count }} visits{% endtrans %}
      {# TODO: ACL check #}
      – <a href="{{ href(article, action='edit') }}" class="adminlink">{{ _('edit') }}</a>
    </p>
    {%- if article.comments_enabled %}
      <table id="comments" class="comments">
        <script type="text/javascript">
          /* <![CDATA[ */
          if (document.location.href.search('#comment') == -1) {
            $('#comments').hide().before(
              $('<a class="show_comments">')
    {%- if article.comment_count %}
                .text('{{ _('show comments') }} ({{ article.comment_count }})')
    {%- else %}
                .text('{{ _('write comment') }}')
    {%- endif %}
                .click(function() {
                  $('#comments').show();
                  $(this).remove();
                })
            );
          }
          /* ]]> */
        </script>
        {%- for comment in comments %}
        <tr id="comment_{{ loop.index }}"{% if comment.deleted %} class="hidden"{% endif %}>
          {%- if comment.author_id == request.user.id %}
          <td class="comment" style="background-color: #F8F6F1">
          {%- else %}
          <td class="comment">
          {%- endif %}
            <div class="commentinfo">
              <div class="linklist">
                <a href="{{ href(comment, action='edit') }}" class="adminlink action action_edit">{{ _('edit') }}</a> |
                {%- if comment.deleted %}
                <a href="{{ href(comment, action='restore') }}" class="adminlink action action_restore">{{ _('restore') }}
                {%- else %}
                <a href="{{ href(comment, action='hide') }}" class="adminlink action action_hide">{{ _('hide') }}
                {%- endif -%}
                </a> |
                <a href="#new_comment" onclick="$('#f_text').val($('#f_text').val() + '@' + {{ loop.index }} + ': ')" class="action action_quote">{{ _('answer') }}</a>
              </div>
              <a href="#comment_{{ loop.index }}" title="{{ _('copy this link to link to this entry') }}" onclick="alert(this.title + '\n\n' + this.href); return false"><strong>{{ loop.index }}.</strong></a>
              {{ _('Written: ') }} {{ comment.pub_date|datetimeformat }}
            </div>
            <div class="text">
              {{ comment.rendered_text }}
            </div>
          </td>
        </tr>
        {%- endfor %}
        <tr id="new_comment">
          <td>
            {{ form() }}
          </td>
        </tr>
      </table>
    {%- endif %}
    <p>{# TODO: display only the matching link #}
      <a href="{{ href(article, action='subscribe') }}">subscribe</a> ·
      <a href="{{ href(article, action='unsubscribe') }}">unsubscribe</a>
    </p>
  </div>
{% endblock %}
