{%- extends 'news/base.html' %}
{% from 'utils/macros.html' import render_form %}
{% set title_trace = [article.title] %}

{% block content %}
  <div class="article">
    <h3 class="title"><a href="{{ href(article) }}">{{ article.title }}</a></h3>
    <p class="meta">
      <span class="published">
        {%- trans author_url=href(article.author.profile), author_name=article.author.username,
                article_pubdate=article.updated|dateformat, article_pubtime=article.updated|timeformat('short') -%}
        written by <a href="{{ author_url }}">{{ author_name }}</a> on {{ article_pubdate }} {{ article_pubtime }}
        {% endtrans %}
      </span>
      <span class="tags">{% for tag in article.tags %}<a href="{{ href('news/index', slug=tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</span>
      <span class="comments"><a href="{{ href(article, _anchor='comments') }}">
        {% if article.comment_count %}{{ article.comment_count }} {{ _('Comments') }}{% else %}{{ _('No Comments') }}{% endif %}
      </a></span>
      {# TODO: ACL check #}
      <span class="visits">{% trans count=article.view_count %}{{ count }} visit{% pluralize %}{{ count }} visits{% endtrans %}</span>
      <span class="admin"><a href="{{ href(article, action='edit') }}" class="adminlink">{{ _('edit') }}</a></span>
    </p>
    <div class="intro">{{ article.rendered_intro|safe }}</div>
    <div class="text">{{ article.rendered_text|safe }}</div>
    {%- if article.comments_enabled %}
      <table id="comments" class="comments">
        <script type="text/javascript">
          /* <![CDATA[ */
          if (document.location.href.search('#comment') == -1) {
            $('#comments').hide().before(
              $('<a class="show_comments">')
    {%- if article.comment_count %}
                .text('{{ _('show comments') }} ({{ article.comment_count }})')
    {%- else %}
                .text('{{ _('write comment') }}')
    {%- endif %}
                .click(function() {
                  $('#comments').show();
                  $(this).remove();
                })
            );
          }
          /* ]]> */
        </script>
        {%- for comment in comments %}
        <tr id="comment_{{ loop.index }}"{% if comment.deleted %} class="hidden"{% endif %}>
          {%- if comment.author_id == request.user.id %}
          <td class="comment" style="background-color: #F8F6F1">
          {%- else %}
          <td class="comment">
          {%- endif %}
            <div class="commentinfo">
              <div class="linklist">
                <a href="{{ href(comment, action='edit') }}" class="adminlink action action_edit">{{ _('edit') }}</a> |
                {%- if comment.deleted %}
                <a href="{{ href(comment, action='restore') }}" class="adminlink action action_restore">{{ _('restore') }}
                {%- else %}
                <a href="{{ href(comment, action='hide') }}" class="adminlink action action_hide">{{ _('hide') }}
                {%- endif -%}
                </a> |
                <a href="#new_comment" onclick="$('#f_text').val($('#f_text').val() + '@' + {{ loop.index }} + ': ')" class="action action_quote">{{ _('answer') }}</a>
              </div>
              <a href="#comment_{{ loop.index }}" title="{{ _('copy this link to link to this entry') }}" onclick="alert(this.title + '\n\n' + this.href); return false"><strong>{{ loop.index }}.</strong></a>
              {{ _('Written: ') }} {{ comment.pub_date|datetimeformat }}
            </div>
            <div class="text">
              {{ comment.rendered_text|safe }}
            </div>
          </td>
        </tr>
        {%- endfor %}
        <tr id="new_comment">
          <td>
            {{ render_form(form) }}
          </td>
        </tr>
      </table>
    {%- endif %}
    <p>
      {% if not request.user.subscribed('news.comments.by_entry', article.id) %}
      <a href="{{ href(article, action='subscribe') }}">subscribe</a>
      {% else %}
      <a href="{{ href(article, action='unsubscribe') }}">unsubscribe</a>
      {% endif %}
    </p>
  </div>
{% endblock %}
