{%- extends 'news/base.html' %}
{%- from "news/_article.html" import render_article %}
{% block html_head %}
{{- super() -}}
{% if tag %}
<link rel="alternate" href="{{ href('news/article_feed', slug=tag.slug, _external=True) }}" type="application/atom+xml">
{% else %}
<link rel="alternate" href="{{ href('news/article_feed', _external=True) }}" type="application/atom+xml">
{% endif %}
{%- endblock %}

{% block content %}
  {%- if tag %}
    <h3>{% trans tag=tag %}Articles for “{{ tag }}”{% endtrans %}</h3>
  {% else %}
    <h3>{% trans %}Latest News{% endtrans %}</h3>
  {%- endif %}
  {%- if articles %}
  {%- for article in articles %}
    {{ render_article(article) }}
  {%- endfor %}
  {%- else %}
  <p>{{ _('No articles written yet.') }}</p>
  {%- endif %}

  {{ pagination }}

  <p>
    {% if not request.user.subscribed('news.article.all') %}
    <a href="{{ href('news/subscribe_articles', action='subscribe') }}">subscribe</a>
    {% else %}
    <a href="{{ href('news/subscribe_articles', action='unsubscribe') }}">unsubscribe</a>
    {% endif %}
  </p>
{% endblock %}
