{%- extends 'news/base.html' %}
{%- set scripts = ['pagination.js'] %}
{%- from "news/_article.html" import render_article %}

{% block content %}
  {%- if tag %}
    <h3>{% trans tag=tag %}Articles for “{{ tag }}”{% endtrans %}</h3>
  {% else %}
    <h3>{% trans %}Latest News{% endtrans %}</h3>
  {%- endif %}
  {%- if articles %}
  {%- for article in articles %}
    {{ render_article(article) }}
  {%- endfor %}
  {%- else %}
  <p>{{ _('No articles written yet.') }}</p>
  {%- endif %}

  {{ pagination }}

  <p>
    {% if not request.user.subscribed('news.article.all') %}
    <a href="{{ href('news/subscribe_articles', action='subscribe') }}">subscribe</a>
    {% else %}
    <a href="{{ href('news/subscribe_articles', action='unsubscribe') }}">unsubscribe</a>
    {% endif %}
  </p>
{% endblock %}
