{% extends "base.html" %}
{% set introduction=true %}
{% set sidebar=true %}
{% set title_trace = title_trace|default([]) + [_('Portal')] %}
{% set styles = ['portal.css'] + styles|default([]) %}

{% block sidebar %}
  {{ super() }}
  <ul>
    <li><a href="{{ href('portal/users') }}">{{ _('Users') }}</a></li>
    <li><a href="{{ href('portal/groups') }}">{{ _('Groups') }}</a></li>
  </ul>
{% endblock sidebar %}

{% block introduction %}
  {{ super() }}
  Welcome to Inyoka :)
{% endblock introduction %}
