{%- extends 'portal/base.html' %}

{% block introduction %}
{{ _('On this page you can see all existing groups.') }}
{% endblock %}

{%- block content %}
<h1>{{ _('Grouplist') }}</h1>

{%- for parent in groups|groupby('grant_parent') %}
<table>
  <caption>{{ parent.grouper.name }}</caption>
  <tr>
    <th>{{ table.get_html('id', _('#')) }}</th>
    <th>{{ table.get_html('name', _('Groupname')) }}</th>
  </tr>
  {% for group in parent.list %}
  <tr>
    <td>{{ group.id }}</td>
    <td><a href="{{ href(group) }}">{{ group.name }}</a></td>
  </tr>
  {%- endfor %}
</table>
{% endfor %}

{{ pagination }}
{%- endblock %}
