{% extends "portal/base.html" %}

{% block introduction %}
<h1>Welcome to Inyoka</h1>
Inyoka is a portal software that integrates a complete News, Wiki and Bulletin Board system next to a calendar and a pastebin application.  It's written in <a href="http://python.org">Python</a> and uses various opensource technologies.
{% endblock %}

{% block content %}
<p>
  This is the portal index page.
</p>
<p>
  called URL is: {{ called_url|e }},
  link is {{ link|e }}.
  current url is {{ request.current_url|e }}
</p>
<p>
  python version: {{ version }}
</p>

<strong>Various Text styles:</strong>
<ul>
<li>Small: <span class="small">Some Text</span></li>
<li>Large: <span class="large">Some Text</span></li>
<li>Hidden: <span class="hide">Some text</span></li>
<li>Quiet: <span class="quiet">Some Text</span></li>
<li>Loud: <span class="loud">Some Text</span></li>
<li>Highlight: <span class="highlight">Some Text</span></li>
<li>Thin: <span class="thin">Some Text</span></li>
<li>Error: <span class="error">Some Text <a href="#">Link</a></span></li>
<li>Notice: <span class="notice">Some Text <a href="#">Link</a></span></li>
<li>Success: <span class="success">Some Text <a href="#">Link</a></span></li>
</ul>

{% endblock %}
