{% extends "portal/base.html" %}

{% block introduction %}
<h1>Welcome to Inyoka</h1>
Inyoka is a portal software that integrates a complete News, Wiki and Bulletin Board system next to a calendar and a pastebin application.  It's written in <a href="http://python.org">Python</a> and uses various opensource technologies.
{% endblock %}

{% block content %}
<div id="portal" class="clear">
  <div class="column">
    <h2>Popular content</h2>
    <div class="content">
    {% if latest_content %}
      <h3>Today's:</h3>
      <ul>
        {% for app, item in latest_content %}
        <li class="{{ app }}"><a href="{{ href(item) }}">{{ item }}</a></li>
        {% endfor %}
      </ul>
      <h3>All Time</h3>
      <ul>
        <li class="portal"><a href="#">To be done…</a></li>
      </ul>
    {% else %}
    <strong>There's no content yet!</strong>
    {% endif %}
    </div>
  </div>
  <div class="column tagcloud">
    <h2>Tags</h2>
    {%- for tag in tag_cloud %}
      <a href="#" style="font-size: {{ tag.size }}%" 
                  title="{% trans count=tag.count, tag=(tag.name|e) %}{{ count }} item tagged {{ tag }}{% pluralize %}{{ count }} posts tagged {{ tag }}{% endtrans %}">
        {{ tag.name|e }}
      </a>
    {%- endfor %}
  </div>
</div>
{% endblock %}
