{%- extends 'admin/base.html' %}
{% from 'utils/macros.html' import render_fields, csrf_token %}
{%- set scripts = scripts|default([]) + ['jquery.tokeninput.js'] %}
{%- set styles = styles|default([]) + ['widgets.css'] %}

{%- block admin_content %}
{% if article.slug %}
  <h3>{{ _('Edit “%(article)s”', article=article.title) }}</h3>
{% else %}
  <h3>{{ _('New Article') }}</h3>
{% endif %}

<form method="post" action="">
{{ render_fields(form, [form.title, form.intro, form.text,
                 form.tags, form.author]) }}
{{ render_fields(form, [form.public], true) }}
{{ csrf_token() }}
<p class="actions">
  <input type="submit" value="{{ _('Submit') }}">
  {% if article.slug %}<input type="submit" name="delete" value="{{ _('Delete') }}">{% endif %}
</p>
</form>

{%- endblock %}
