{%- extends 'admin/base.html' %}

{%- block admin_content %}
{% if category.name %}
  <h3>{% trans category=category.name %}Edit “{{ category }}”{% endtrans %}</h3>
{% else %}
  <h3>{{ _('New Category') }}</h3>
{% endif %}

<form action="" method="post">
{{ form.as_dl() }}
{{ form.hidden_fields }}
<div class="actions">
  <input type="submit" value="{{ _('Submit') }}">
  {% if category.name %}<input type="submit" name="delete" value="{{ _('Delete') }}">{% endif %}
</div>
</form>

{%- endblock %}
