/* debug stylesheet */
div#database_debug_table {
    z-index: 10000;
    background: #dfe7b6;
    font-size: 0.9em;
    padding: 0 10px;
    margin: 20px 0 0 0;
    clear: both;
    border: 1px solid #52170b;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 0 3px white;
    opacity: 0.5;
}

div#database_debug_table ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Arial', sans-serif;
}

div#database_debug_table ul li {
    margin: 10px 0;
    padding: 0;
}

div#database_debug_table ul li div.detail {
    display: block;
    text-align: right;
    margin: 3px 0 0 0;
}

div#database_debug_table ul li div.detail em {
    font-style: normal;
    color: #111;
}

div#database_debug_table ul li pre {
    background-color: #f9f6f2;
    border-top: 1px solid #523a0b;
    border-bottom: 1px solid #a87818;
    margin: 0 -10px;
    padding: 2px 10px;
    font-family: 'Consolas', 'Deja Vu Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 1em;
    word-wrap: break-word;
    text-align: left;
}

div#database_debug_table a {
  color: #90A818;
}

div#database_debug_table strong {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
