#htmllog {
  background: #494949;
  color: #ddd;
  padding: 1em;
  font-size: .8em;
  bottom: 0;
}

#htmllog-inner {
  margin: 0 auto;
  width: 992px;
}

#htmllog h1 {
  color: #90A818;
  font-size: 1.6em;
}

#htmllog h2 {
  color: #90A818;
  margin: 1em 0 .2em;
}

#htmllog pre {
  margin: .2em 1em;
  background: #ddd;
  border: 1px solid #333;
  color: #222;
  padding: .2em;
  white-space: normal;
}

#htmllog a {
  float: right;
  color: #90A818;
  margin-right: 1em;
}

#page {
  margin-bottom: 0;
}
