table.diff {
  border: 2px solid #ccc;
  border-collapse: collapse;
  empty-cells: show;
  margin: 0;
  width: 100%;
}

table.diff th.old_rev,
table.diff th.new_rev {
  width: 2em;
}

table.diff th:target + td.code,
table.diff th:target + th + td.code {
  background: #ffffbe !important;
}

table.diff tr.add td.code {
  background-color: #dfd;
}

table.diff tr.add td.code ins {
  background-color: #9e9;
  text-decoration: none;
}

table.diff tr.del td.code {
  background-color: #fcc;
}

table.diff tr.del td.code del {
  background-color: #e99;
  text-decoration: none;
}

table.diff tr.ellipsis th {
  background-color: #dfdfdf;
  border: 1px solid #ccc;
}

table.diff tr.line td.code {
  border: 1px solid #ddd;
  font-family: monospace;
  font-size: 13px;
  padding: 0.1em 0.4em;
  white-space: pre-wrap;
}

table.diff tr.line th.old_rev,
table.diff tr.line th.new_rev {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #444;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.2em 0.5em 0.2em 0;
  text-align: right;
  vertical-align: top;
}

table.diff tr.unmod {
  background-color: #fff;
}

ul.revision_tree {
  margin: 0 0 0 20px;
  padding: 0;
}

ul.revision_tree li {
  padding: 0;
}

ul.revision_tree li.highlighted {
  background-color: #eee;
}

ul.revision_tree li.highlighted > a {
  font-weight: bold;
}

ul.revision_tree li.highlighted ul {
  background-color: #FFF;
}

ul.revision_tree ul {
  margin: 0;
  padding: 0 0 0 24px;
}

ul.revision_tree,
ul.revision_tree ul {
  list-style: circle;
}
