/* Opera \*/
* html form li.horiz,
* html form li.horiz-left {
  height: 1%;
}

*:first-child+html input[type] {
  padding: 4px 10px 3px 7px;
}

/* Styles for various form elements */
form {
  font: x-small;
  font-size: small;
  width: 100%;
}

/* Field sizes */
form .full {
  width: 100% !important;
}

form .half {
  width: 50% !important;
}

form .large {
  width: 400px !important;
}

form .medium {
  width: 200px !important;
}

form .small {
  width: 100px !important;
}

form .third {
  width: 33% !important;
}

/* Fieldset, legend, label */
form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Buttons */
form fieldset.actions {
  margin: 1em 0 0;
  padding: 0;
  text-align: left;
}

/* Text, password, select, select-multi, textarea */
form input[type=text],
form input[type=password],
form select,
form textarea {
  background: #F2F2F2;
  border: 1px solid #B3B3B3;
  font-size: 123.1%;
  padding: 3px 5px;
  width: 100%;
}

/* Indicate required fields */
form label abbr {
  border: 0;
  color: #C00;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 .3em;
}

form label,
form legend {
  color: #000;
  display: block;
  font-size: 108%;
  font-weight: bold;
  margin-bottom: .5em;
  margin-top: 1em;
}

form li {
  margin: .7em 0 0;
  padding: 0;
}

form li.horiz .radio-group label,
form li.horiz-left .radio-group label {
  float: none;
  width: auto;
}

form li.horiz input[type=text],
form li.horiz-left input[type=text],
form li.horiz input[type=password],
form li.horiz-left input[type=password],
form li.horiz textarea,
form li.horiz-left textarea,
form li.horiz select[multiple=multiple],
form li.horiz-left select[multiple=multiple],
form li.horiz .input-text,
form li.horiz-left .input-text,
form li.horiz .input-password,
form li.horiz-left .input-password,
form li.horiz .select-multiple,
form li.horiz-left .select-multiple {
  width: 300px;
}

/* end Opera 
 Floated label */
form li.horiz label,
form li.horiz-left label {
  float: left;
  margin: 3px .5em 0 0;
  text-align: right;
  width: 12em;
}

/* Fields can't be 100% anymore (workarounds?): must specify width. */
form li.horiz span.descr,
form li.horiz-left span.descr,
form li.horiz ul.errors,
form li.horiz-left ul.errors,
form li.horiz .radio-group,
form li.horiz-left .radio-group {
  margin-left: 13.5em;
  width: 300px;
}

/* IE */
form li.horiz, form li.horiz-left {
  display: block;
  zoom: 1px;
}

form li.horiz-left label {
  text-align: left;
}

/* --- Tableless horizontal forms (left and right aligned) ---
This should work well for basic forms, but no holy grail exists to make
tabeless columnar forms work with complex forms. For reliable columnar forms,
use tables instead. 
 Need to apply clearfix hack because of floated elements inside the li. */
form li.horiz:after,
form li.horiz-left:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* Fields structure */
form ol, form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form select {
  width: auto;
}

form select[multiple=multiple],
form .select-multiple {
  height: 100px;
  width: 100%;
}

/* Field description */
form span.descr {
  color: #999;
  display: block;
}

/* --- Horizontal forms --- */
form table {
  width: 100%;
}

form table td {
  vertical-align: top;
}

form table td.field {
  padding: .5em 0;
}

form table td.label {
  padding: .8em .5em .5em 0;
  text-align: right;
  width: 150px;
}

form table td.label label {
  font-weight: normal;
}

form textarea {
  height: 100px;
}

/* Size exceptions for textareas */
form textarea.large {
  height: 400px !important;
  width: 100% !important;
}

form textarea.medium {
  height: 200px !important;
  width: 100% !important;
}

form textarea.small {
  height: 100px !important;
  width: 100% !important;
}

/* Field errors */
form ul.errors {
  margin: 0;
  padding: 0;
}

form ul.errors li {
  color: #C00;
  font-weight: bold;
  margin: 0 0 .3em;
  padding: 0;
}

input, select {
  cursor: pointer;
}

input[name="delete"] {
  background-image: url(../img/cancel.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  color: #d12f19;
  font-weight: normal;
}

input[name="delete"]:active {
  background-color: #d12f19;
  border: 1px solid #d12f19;
  color: #fff;
}

input[name="delete"]:hover,
input[name="delete"]:focus {
  background-color: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #d12f19;
}

input[name="recaptcha_response_field"] {
  height: 20px;
}

input[type="button"], button {
  overflow: visible;
  padding: 4px 10px 3px 7px;
  width: auto;
}

input[type="button"]:active, a.button:active {
  background-color: #dfe7b6;
  border: 1px solid #dfe7b6;
  color: #fff;
}

input[type="button"]:hover, a.button:hover,
input[type="button"]:focus, a.button:focus {
  background-color: #dfe7b6;
  border: 1px solid #dfe7b6;
  color: #a87818;
}

/* Input field styles
 *
 */


input[type] {
  line-height: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 4px 10px 4px 7px;
}

input[type="submit"], a.button, button {
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  background-color: #f5f5f5;
  background-image: url(../img/tick.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  border: 1px solid #dedede;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  color: #529214;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  line-height: 130%;
  margin: 0.5em 0;
  padding: 5px 10px 5px 25px;
  text-decoration: none;
}

input[type="submit"]:active, a.positive:active {
  background-color: #529214;
  border: 1px solid #529214;
  color: #fff;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #E6EFC2;
  border: 1px solid #C6D880;
  color: #529214;
}

input[type="text"], textarea {
  border: 1px solid #666;
}

input[type="text"]:focus, textarea:focus {
  border-color: #90A818;
}

input[type='text'], input[type='password'] {
  cursor: text;
  height: 25px;
}

input[type='checkbox'] + label {
  display: inline-block;
  float: none;
  margin-bottom: -2px;
  position: relative;
  top: 0;
}

textarea,
input[type='text'],
input[type='password'],
select {
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 5px 4px;
}

textarea:focus, input[type='text']:focus,
input[type='password']:focus, select:focus {
  border-color: #888;
  outline: 2px solid #EEF7C2;
}

textarea:hover, input[type='text']:hover,
input[type='password']:hover, select:hover {
  border-color: #aaa;
}
