#content a.tag {
    background: #d0efa0;
    color: #304800;
    padding: .2em .5em;
    font-size: .9em;
    text-decoration: none;
}

#content a.tag:hover {
    background: #304800;
    color: #d0efa0;
}

#content p {
    margin: .5em 0;
}

div.question {
    border-bottom: 1px dashed #666;
}

#content h1 {
    font-size: 1.4em;
}

#content h2 {
    clear: right;
    margin-top: .5em;
}

div.author {
    background: #dedede;
    padding: .4em;
    font-size: .9em;
    margin-bottom: .5em;
    float: right;
    width: 14em;
}

div.summary {
    margin-left: 4.5em;
}

div.stats {
    width: 5em;
    background: #dedede;
    float: left;
    font-size: .75em;
    text-align: center;
}

div.stats strong {
    display: block;
    font-size: 1.4em;
}

div.stats div.votes {
    font-size: 1.05em;
    padding: .2em 0;
}

div.stats div.status {
    background: #75845c;
    margin: .4em;
    font-size: .9em;
    padding: .4em 0;
}

div.stats div.status.unanswered {
    background: #9a4444;
}

div.answer {
    clear: both;
}

    div.vote {
width: 2em;
text-align: center;
float: left;
margin-top: .5em;
margin-bottom: 1em;
}

div.vote strong {
    display: block;
    font-size: 1.2em;
color: #666;
}

#content div.question-detail div.summary,
#content div.answer div.summary {
    margin-left: 3em;
}


#content ul.tabs {
    text-align: right;
    margin: -1em 0 1em 0;
    font-weight: bold;
    border-bottom: 1px solid #666;
    list-style-type: none;
    padding: 3px 10px 3px 10px;
    line-height: normal;
    font-size: .9em;
}
 
#content ul.tabs li {
    display: inline;
    margin: 0;
}

#content ul.tabs li.selected {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#content ul.tabs li.selected a { 
    background-color: #fff;
    color: #000;
    position: relative;
    top: 1px;
    padding-top: 4px;
}

#content ul.tabs li a {
    padding: 3px 4px;
    border: 1px solid #666;
    background-color: #dedede;
    color: #666;
    margin-right: 0px;
    text-decoration: none;
    border-bottom: none;
}
 
#content ul.tabs a:hover {
    background: #fff;
}

div.pagination {
    margin-top:  1em;
    font-size: .9em;
}


div.pagination span.page,
div.pagination span.prev,
div.pagination span.next {
    border: 1px solid #666;
    background: #dedede;
    padding: .2em .5em;
    margin-right: .5em;
}

div.pagination span.comma {
    display: none;
}

#content div.question h2 {
clear: none;
}

#content h2 {
    clear: left;
}
