ul.tags {
  margin: 0;
}

ul.tags li {
  display: inline;
  line-height: 1.6em;
  margin: 0;
}

a.tag {
    background: #D5E19D;
    color: #304800;
    padding: .2em .5em;
    font-size: .8em;
    text-decoration: none;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

a.tag:hover {
    background: #304800;
    color: #D5E19D;
}

h2 {
  margin-bottom: 0;
}

div.question {
  margin-bottom: 1em;
}

div.author {
    background: #eee;
    padding: 0.25em 0.4em;
    font-size: .8em;
    float: right;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

div.summary {
    margin-left: 8.5em;
}

div.stats {
    background: #dedede;
    float: left;
    font-size: .75em;
    text-align: center;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

div.stats strong {
    display: block;
    font-size: 1.4em;
}

div.stats div.votes {
    padding: .2em 0;
    width: 5em;
    float: left;
}

div.stats div.status {
    width: 5em;
    background: #999999;
    color: #FFFFFF;
    padding: .4em 0;
    -moz-border-radius: 0 0.4em 0.4em 0;
    -webkit-border-radius: 0 0.4em 0.4em 0;
    float: left;
}

div.stats div.status.unanswered {
    background: #9a4444;
}

div.answer {
    clear: both;
}

div.vote {
  width: 2em;
  text-align: center;
  float: left;
  margin-top: .5em;
  margin-bottom: 1em;
}

div.vote strong {
  display: block;
  font-size: 1.2em;
  color: #666;
}

div.question-detail div.summary,
div.answer div.summary {
    margin-left: 3em;
}

p.tags {
    margin-bottom: 1.5em;
}

ul.token-input-list {
    border: 1px solid #666;
    list-style: none;
    margin: 0;
    width: 400px;
    padding: 2px;
}

ul.token-input-list li {
    margin: 0;
    list-style: none;
}

div.token-input-dropdown {
    position: absolute;
    background: #ffa;
    border: 1px solid #ffa;
    font-size: .85em;
    width: 400px;
    padding: 0 2px;
}

ul.token-input-list input {
    border: none;
    width: 6em;
}

ul.token-input-list li.token-input-token {
    float: left;
    background: #D5E19D;
    color: #304800;
    padding: .2em .5em;
    margin-right: .5em;
    font-size: .8em;
    text-decoration: none;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

li.token-input-token p {
    display: inline;
}

li.token-input-token span {
    color: #666;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
