/* Layout */

body {
  margin: 0;
  background-color: #FFFFFF;
}

#head {
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  width: 972px;
  background-color: #90a818;
  background-image: url(../img/head.png);
  background-repeat: no-repeat;
  -moz-border-radius: 0 0 0.4em 0.4em;
  -webkit-border-radius: 0 0 0.4em 0.4em;
}

#head h1 {
  margin: 0 0 0 10px;
  padding: 90px 0 0 140px;
  height: 62px;
  color: #FFFFFF;
  font-size: 3em;
  background-image: url(../img/inyoka-logo.png);
  background-repeat: no-repeat;
  font-family: 'Bitstream Vera Sans', 'DejaVu Sans', 'Verdana', sans-serif;
}

#head h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

#navi {
  float: right;
  position: relative;
  bottom: 2em;
}

#navi a {
  color: #DFE7B6;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1em;
  padding-top: 54px;
}

#navi a:hover {
  border-bottom: #DFE7B6 1px dashed;
}

#navi a:active {
  padding-top: 56px;
}

#navi a.active {
  color: #FFF;
}

#navi a.icon-portal {
  background: url(../img/headericons/portal.png) no-repeat top center;
}

#navi a.icon-pastebin {
  background: url(../img/headericons/pastebin.png) no-repeat top center;
}

#navi a.icon-news {
  background: url(../img/headericons/news.png) no-repeat top center;
}

#navi a.icon-forum {
  background: url(../img/headericons/forum.png) no-repeat top center;
}

#navi a.icon-admin {
  background: url(../img/headericons/admin.png) no-repeat top center;
}

#navi a.icon-wiki {
  background: url(../img/headericons/wiki.png) no-repeat top center;
}

#page {
  background-color: #CCCCCC;
  margin: 0.5em 0;
  padding: 0.5em 0;
}

#page-inner {
  margin: 0 auto;
  width: 992px;
}

#page-inner > div {
  padding: 1em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  margin-bottom: 0.5em;
}

#page-sidebar {
  background-color: #EEEEEE;
  float: left;
  width: 338px;
  margin-bottom: 0.4em;
  color: #444;
  padding: 0.5em 0.5em 0.5em 28px;
}

#page-navbar {
  background-color: #fff;
  color: #001800;
  font-size: 0.8em;
}

#page-navbar a {
  word-spacing: 5em;
}

#page-navbar .user-status {
  float: right;
}

#page-introduction {
  background-color: #eee;
  color: #2f4800;
}

#page-introduction {
  background-color: #EEEEEE;
  color: #001800;
}

#content {
  background-color: #FFFFFF;
  color: #2b2422;
}

#content.with-sidebar {
  margin-left: 378px;
}

#footer {
  clear: both;
}

/* Pagetabs */

ul.pagetabs {
    text-align: right;
    margin: 0 -1em 1em -1em !important;
    background: #eee;
    font-weight: bold;
    border-bottom: 0px solid #CCC;
    list-style-type: none;
    padding: 0.5em;
    line-height: normal;
    font-size: .9em;
}
 
ul.pagetabs li {
    display: inline;
    margin-left: 0;
}

ul.pagetabs li.selected a { 
    background-color: #fff;
    border-bottom: 0.5em solid #fff;
    color: #000;
}

ul.pagetabs li a {
    padding: 4px 6px;
    background-color: #dedede;
    color: #666;
    margin-right: 0px;
    text-decoration: none;
    border-bottom: none;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}
 
ul.pagetabs li a:hover {
    background: #fff;
}

/* Pagination */

div.pagination {
    font-size: .9em;
    clear: both;
    margin: 1em -1em -1em -1em;
    background: #eee;
    padding: 0.5em;
    text-align: center;
}

div.pagination strong {
    padding: 4px 8px;
    background-color: #dedede;
    color: #666;
    margin-right: 0px;
    text-decoration: none;
    border-bottom: none;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    background-color: #fff;
    border-top: 0.5em solid #fff;
    color: #000;
}

div.pagination a {
    padding: 4px 8px;
    background-color: #dedede;
    color: #666;
    margin-right: 0px;
    text-decoration: none;
    border-bottom: none;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
}

div.pagination a:hover {
    background: #fff;
}

div.pagination span.commata {
    display: none;
}

div.flash_message {
  border: red 1px solid;
  background: #fff;
  width: 40%;
  position: absolute;
  top: 30%;
  left: 30%;
  padding: .5em;
  margin-bottom: 1.6em;
  border: 2px solid #ddd;
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}

