body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Bitstream Vera Sans', 'DejaVu Sans', 'Verdana', sans-serif;
}

#head {
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  width: 972px;
  background-color: #90a818;
  background-image: url(../img/head.png);
  background-repeat: no-repeat;
  -moz-border-radius: 0 0 0.4em 0.4em;
}

#head h1 {
  margin: 0 0 0 10px;
  padding: 90px 0 0 140px;
  height: 62px;
  color: #FFFFFF;
  font-size: 3em;
  background-image: url(../img/inyoka-logo.png);
  background-repeat: no-repeat;
}

#head h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

#navi {
  float: right;
  position: relative;
  bottom: 2em;
}

#navi a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1em;
  padding-top: 54px;
}

#navi a.icon-portal {
  background: url(../img/icon-portal.png) no-repeat top center;
}

#navi a.icon-pastebin {
  background: url(../img/icon-pastebin.png) no-repeat top center;
}

#navi a.icon-news {
  background: url(../img/icon-news.png) no-repeat top center;
}

#navi a.icon-forum {
  background: url(../img/icon-forum.png) no-repeat top center;
}

#navi a.icon-admin {
  background: url(../img/icon-admin.png) no-repeat top center;
}

#page {
  background-color: #CCCCCC;
  margin: 0.5em 0;
  padding: 0.5em 0;
}

#page-inner {
  margin: 0 auto;
  width: 992px;
}

#page-inner > div {
  padding: 1em;
  -moz-border-radius: 0.4em;
  margin-bottom: 0.5em;
}

#page-sidebar {
  background-color: #EEEEEE;
  float: left;
  width: 338px;
}

#page-introduction {
  background-color: #EEEEEE;
  color: #001800;
}

#content {
  background-color: #FFFFFF;
  color: #2b2422;
}

#content.with-sidebar {
  margin-left: 378px;
}

#content h1, #content h2, #content h3 {
  color: #304800;
}

#content ol {
	list-style: decimal;
}

#content ul li {
	list-style: disc;
	margin-left: 2em;
}

#content a {
  color: #304800;
}

.small {
  font-size: x-small;
}

.hidden {
  color: #ccc;
}


