.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-left {
  float: left;
}

.image-left, .image-right, .image-center {
  margin: 1em;
}

.image-right {
  float: right;
}

:link.missing, :visited.missing {
  color: #999 !important;
}

div.bash {
  background-color: #454545;
  border: 1px solid #666;
  clear: none;
  color: #FFF;
  font-family: monospace;
  margin: 0.3em 1em;
  overflow: auto;
}

div.bash pre {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0 0.3em;
}

/* Boxes of page templates */
div.box {
  -moz-border-radius: 5px;
  border: 1px solid #bbb;
  clear: none;
  margin: 0.5em 0;
  overflow: auto;
}

div.box div.contents {
  padding: 0.5em 1em;
}

div.box h3 {
  -moz-border-radius: 3px 3px 0 0;
  background-color: #bbb;
  color: #FFF;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
  padding: 0 1em;
}

div.edited {
  border: 1px solid #597A00;
  font-size: 0.8em;
  padding: 0.4em;
}

div.edited strong {
  color: #597A00;
}

div.left {
  border: 1px solid #3E6E58;
}

div.left h3 {
  background-color: #3E6E58;
}

div.moderated {
  border: 1px solid #c77;
  font-size: 0.8em;
  padding: 0.4em;
}

div.moderated p, div.edited p {
  margin: 0;
}

div.moderated strong {
  color: #a33;
}

h1:hover *, h2:hover *, h3:hover *,
h4:hover *, h5:hover *, h6:hover * {
  display: inline;
}

pre {
  padding: 0.5em;
}

span.underline {
  text-decoration: underline;
}
