/* News styles */

div.article {
    background-color: #FFFBD5;
    border: 1px solid #ECE7AD;
    padding: 0.3em;
    margin-bottom: 20px;
}

p.meta {
    color: #888;
    font-size: 0.9em;
    margin: -0.2em 0 1em 0;
}

div.text p.readon {
  font-size: 0.9em;
}

a.show_comments {
  display: block;
  padding: 0.5em;
  text-align: center;
  background-color: #eee;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #444;
  border-top: 1px solid #ccc;
  font-weight: bold;
}

a.show_comments:hover {
  text-decoration: underline;
}
