/* News styles */

div.article {
    background-color: #fff;
    padding: 0.3em;
    margin-bottom: 1.5em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

div.article h1, div.article h2, div.article h3,
div.article h4, div.article h5, div.article h6 {
  color: #fcb423;
}


div.article .title a {
  text-decoration: none;
  color: #a87818;
}

div.article .title a:hover {
  color: #fc4823;
}

p.meta {
  border-left: 10px solid #ddd;
  border-top: 1px dotted #ddd;
  color: #888;
  font-size: 0.9em;
  padding: 0.2em 0 0.2em 1em;
  margin-bottom: 0.8em;
  width: 80%
}

p.meta .published, p.meta .tags, p.meta .comments,
p.meta .visits, p.meta .admin {
  padding-left: 20px;
  margin-right: 20px;
}

p.meta .published {
  background: url(../img/calendar.gif) left center no-repeat;
}

p.meta .tags {
  background: url(../img/tag.gif) left center no-repeat;
}

p.meta .comments {
  background: url(../img/comments.gif) left center no-repeat;
}

a.show_comments {
  display: block;
  padding: 0.5em;
  text-align: center;
  background-color: #eee;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #444;
  border-top: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
}

a.show_comments:hover, a.show_comments:focus {
  text-decoration: underline;
}
