#portal #last {
  margin-right: 0;
}

#portal .column {
  float: left;
  margin-right: 20px;
  width: 280px;
}

#portal .column .block {
  margin-bottom: 30px;
}

#portal .itemlist a {
  border-bottom: 1px solid #ac9471;
  color: #777;
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
  text-decoration: none;
}

.tagcloud {
  text-align: justify;
  white-space: normal;
}

.tagcloud a.tag {
  color: #777;
  text-decoration: none;
}

#portal .itemlist a:hover,
.tagcloud a.tag:hover {
  color: #000;
}

#portal h2 {
  border-bottom: #333 solid 1px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

#portal h3 {
  padding-top: 10px;
}

#portal ul {
  margin: 0;
  padding: 0;
}

#portal ul li {
  list-style: none;
}
