body {
  width:100% !important;
  margin:0 !important;
  padding:0 !important;
  font-family: Garamond,"Times New Roman", serif;
  color: #000;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

code { font: monospace; }
blockquote {
  margin: 1.3em;
  padding: 1em;
}
hr { background-color: #ccc; }

img {
  float: left;
  margin: 1em 1.5em 1.5em 0;
}
a img { border: none; }

a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #333;
}

/*** TABLES ***/
table {margin: 1px; text-align:left;}
th {border-bottom: 1px solid #333;  font-weight: bold;}
td {border-bottom: 1px solid #333;}
th,td {padding: 4px 10px 4px 0;}
tfoot {font-style: italic;}
caption {background: #fff; margin-bottom:2em; text-align:left;}
thead {display: table-header-group;}
tr {page-break-inside: avoid;}

/*** Add sections here to hide various parts of the site when printing ***/
#head, #nav, #page-sidebar, button, .database_debug_table, a#database_debug_table {
  display:none;
}
