table {
  width: 100%;
}

caption {
  font-size: 2em;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px dotted #ccc;
}

caption:hover {
  background-color: #f5f5f5;
}

th {
  padding: 5px;
  border-bottom: #90a818 2px solid;
  background-color: #ffffff;
}

td {
  padding: 5px;
  border-bottom: #90a818 1px solid;
}

tr:nth-child(odd) {
  background-color: #DFE7B6;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.highlightedtable td.linenos {
  width: 0.5em;
}
