.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.center {
  text-align: center;
}

.error {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #8a1f11;
}

.error a {
  background: none;
  color: #8a1f11;
  margin: 0;
  padding: 0;
}

.error, .notice, .success {
  border: 2px solid #ddd;
  display: inline-block;
  margin-bottom: 1.6em;
  padding: .5em;
}

.hide {
  display: none;
}

.highlight {
  background: #ff0;
}

.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

.loud {
  color: #000;
}

.notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #514721;
}

.notice a {
  background: none;
  color: #514721;
  margin: 0;
  padding: 0;
}

.quiet {
  color: #666;
}

/* Various text style classes */
.small {
  font-size: .8em;
  line-height: 1.8em;
  margin-bottom: 1.8em;
}

.success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #264409;
}

.success a {
  background: none;
  color: #264409;
  margin: 0;
  padding: 0;
}

.thin {
  font-weight: lighter;
}

.top {
  margin-top: 0;
  padding-top: 0;
}

abbr, acronym {
  font-size: 0.8em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

abbr[title], acronym[title], dfn[title] {
  border-bottom: 1px solid #ccc;
  cursor: help;
}

/* Typography */
body {
  font-family: 'Bitstream Vera Sans', 'DejaVu Sans', 'Verdana', sans-serif;
}

cite, em, dfn {
  font-style: italic;
}

code, kbd, samp, pre, tt, var,
input[type='text'], input[type='password'], textarea {
  font-family: monaco, "Lucida Console", courier, monospace;
  font-size: 0.8em;
}

del {
  color: #666;
  text-decoration: line-through;
}

h1, h2, h3 {
  color: #23520b;
  margin-bottom: .5em;
}

h2, h3 {
  margin-top: .5em;
}

:link, :visited {
  color: #90a818;
  text-decoration: none;
}

:link:hover, :visited:hover {
  color: #46520b;
}

ins, dfn {
  border-bottom: 1px solid #ccc;
}

ol {
  list-style: decimal;
}

p {
  margin: .5em 0;
}

small, sup, sub {
  font-size: 0.8em;
}

strong, th, thead td, h1, h2, h3, h4, h5, h6 {
  font-family: 'DejaVu Serif', serif;
  font-weight: bold;
  letter-spacing: 0.05em;
}

ul {
  list-style: disc;
  margin-left: 2em;
}

ul.errors {
  background: #FBE3E4;
  border: #FBC2C4 2px solid;
  color: #8a1f11;
  list-style: none;
  margin: 0.5em 0;
  padding: 0.3em;
}
