div.usercp_control ul {
  border: none;
  list-style: none;
  text-align: center;
}

div.usercp_control ul li {
  display: inline-block;
}

/* Some additional features for non ie users */
div.usercp_control ul li a img {
  opacity: 0.6px;
}

div.usercp_control ul li a:hover {
  color: #444;
}

div.usercp_control ul li a:hover img {
  opacity: 1px;
}

div.usercp_control ul li span {
  border: 1px dotted #E3D6C4;
  display: table-cell;
  padding: 0;
  text-align: center;
}

div.usercp_control ul li span a {
  color: #888;
  display: block;
  height: 150px;
  padding: 5px 10px 0;
  text-decoration: none;
  width: 250px;
}
