* html ul.token-input-list {
  height: 1% !important;
}

div.token-input-dropdown {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  cursor: default;
  font-family: Verdana;
  font-size: 11px;
  overflow: hidden;
  position: absolute;
  width: 400px;
  z-index: 1;
}

div.token-input-dropdown p {
  color: #777;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

div.token-input-dropdown ul {
  margin: 0;
  padding: 0;
}

div.token-input-dropdown ul li {
  background-color: #fff;
  padding: 3px;
}

div.token-input-dropdown ul li em {
  font-style: none;
  font-weight: bold;
}

div.token-input-dropdown ul li.token-input-dropdown-item,
div.token-input-dropdown ul li.token-input-dropdown-item2 {
  background-color: #fff;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
  background-color: #3b5998;
  color: #fff;
}

li.token-input-input-token {
  float: left;
}

li.token-input-selected-token {
  background-color: #5670a6;
  border: 1px solid #3b5998;
  color: #fff;
}

li.token-input-token {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #eff2f7;
  border: 1px solid #ccd5e4;
  border-radius: 5px;
  color: #000;
  cursor: default;
  float: left;
  margin: 5px;
  overflow: hidden;
  padding: 3px;
}

li.token-input-token p {
  display: inline;
  margin: 0;
  padding: 0;
}

li.token-input-token span {
  color: #a6b3cf;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

ul.token-input-list {
  background-color: #fff;
  border: 1px solid #8496ba;
  cursor: text;
  font-family: Verdana;
  font-size: 12px;
  height: auto !important;
  list-style-type: none;
  margin: 0;
  min-height: 1px;
  overflow: hidden;
  padding: 0;
  width: 400px;
  z-index: 999;
}

ul.token-input-list li input {
  background-color: #FFF;
  border: 0;
  margin: 2px 2px 0;
  padding: 3px 8px;
  width: 100px;
}

/**
 * datetimefield
 * ~~~~~~~~~~~~~
 *
 * The style for the javascript-based DateTimeField.
 *
 * :copyright: (c) 2007-2010 by the Inyoka Team, see AUTHORS for more details.
 * :license: GNU GPL, see LICENSE for more details.
 */

.datetime {
  text-align: center;
  background: white;
  font-size: 0.7em;
  border: 0;
  width: 1px;
  z-index: 1;
}

.datetime td {
  border: 0 !important;
  vertical-align: top;
  padding: 0.4em 0 0 0;
}

.calendar {
  border-collapse: collapse;
  border: 1px solid #aaa;
  width: 1px;
}

.calendar span {
  cursor: pointer;
}

.calendar input {
  width: 5em;
}

.timetable {
  border-collapse: collapse;
  width: 15em;
}

.timetable a.close {
  background-color: #EFEFEF;
  color: #888;
  border-top: 1px solid #ccc;
}

.calendar th.caption, .timetable th.caption {
  text-align: center;
  border-top: none;
  background: #23520b repeat-x scroll left top;
  color: white;
  font-weight: bold;
  border-collapse: collapse;
  border: 1px solid #aaa;
  padding: 0.3em 0.4em;
}

.calendar th.weekday {
  color: #666;
  text-align: center;
  background: #e1e1e1 url(../img/table_bg.png) 0 50% repeat-x;
  border-bottom: 1px solid #ddd;
}

.calendar td, .timetable td {
  text-align: center;
  padding: 0;
  border-top: 1px solid #eee;
  border-bottom:none;
}

.calendar td.nonday {
  background: #efefef;
}

.calendar td a, .timetable td a {
  display: block;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  color: #444;
  cursor: pointer;
}

.calendar td a:hover, .timetable td a:hover {
  background: #DFE7B6;
  color:white;
}

.calendar td a:active, .timetable td a:active {
  background: #5f8c4a;
  color: white;
}

.calendar td.selected a {
  background-color: #5f8c4a;
}

.calendarnav {
  text-align: center;
  color: #ccc;
  margin: 0;
  padding: 1px 3px;
}

.calendarnav a:link {
  color: #999;
}

.calendar-shortcuts {
  background: white;
  font-size:10px;
  line-height:11px;
  border-top:1px solid #eee;
  padding:3px 0 4px;
  color:#ccc; 
}

.calendarnav-previous {
  float: left;
}

.calendarnav-next {
  float: right;
}

.calendarnav-previous, .calendarnav-next {
  display: block;
  font-weight: bold;
  background: #23520b bottom left repeat-x;
  margin: -0.3em -0.4em;
  padding: 0.3em 0.4em;
  color: white;
  cursor: pointer;
}

.calendarnav-previous:hover, .calendarnav-next:hover {
  background: #a4773d;
}

