Fabric==0.9.3
Jinja2==2.5.5
kombu==1.0
Logbook==0.3
MarkupSafe==0.11
Pygments==1.4
SQLAlchemy==0.6.6
Sphinx==1.0
WTForms==0.6.2
Werkzeug==0.6.2
anyjson==0.2.5
blinker==1.1
coverage==3.4
distribute==0.6.14
docutils==0.7
feedparser==5.0
html5lib==0.90
lxml==2.3
mailer==0.5
mercurial==1.7
nose==0.11.4
paramiko==1.7.6
pycrypto==2.0.1
pylibmc==1.1.1
pyparsing==1.5.5
python-dateutil==1.5
pytz==2011b
translitcodec==0.1
virtualenv==1.5.1
wsgiref==0.1.2
xappy==0.5
celery==2.2
