{%- extends 'event/base.html' %}
{%- set trace = [[_('%s by %s' % (event.title, event.author)), href(event)]] %}

{%- block event_content %}
  <p><small>{{ _('Starting on %(date)s.', date=event.start_date|datetimeformat) }}</small></p>
  <p><small>{{ _('Ending on %(date)s.', date=event.end_date|datetimeformat) }}</small></p>
  <p>
    {{ event.text|safe }}
  </p>
  <div class="meta">
  <!--
    {#%- set url_values = {'id': event.discussion_question} %#}
    <a href="{# { href('event/calendar', **url_values) } #}">{{ _('Event Discussion') }}</a>
    {#%- set url_values = {'id': event.info_question_id} %#}
    <a href="{# { href('event/calendar', **url_values) } #}">{{ _('Event Information') }}</a>
  -->
  </div>
{%- endblock %}
