{%- extends 'paste/base.html' %}
{%- set scripts = ['pagination.js'] %}
{%- set title_trace = ['Browse'] %}

{%- block content %}
<h1>Browse Pastebin</h1>
<p><a href="{{ href('paste/index') }}">Create one yourself!</a></p>

{{ pagination }}
<ul>
  {% for p in pastes %}
  {# TODO: ACL for hidden pastes and edit link! #}
  <li{% if p.hidden %} class="hidden"{% endif %}>
    <a href="{{ p|url }}">{{ p }}</a>
    <span class="small">written by {{ p.author }} on {{ p.pub_date.strftime('%F %T') }}
      (language: {{ p.language|default('plain text') }}) – <a href="{{ p|url('edit') }}">edit</a></span>
  </li>
  {% endfor %}
</ul>
{{ pagination }}
{%- endblock %}
