{% extends "paste/base.html" %}
{% from 'utils/macros.html' import render_diff_part %}
{% set title_trace = [_('Compare Pastes')] %}
{% block paste_content %}
  <p>
    Differences between the pastes
    <a href="{{ href(old)|e }}">{{ old.display_title|e }}</a> ({{ old.pub_date|datetimeformat }})
    and <a href="{{ href(new)|e }}">{{ new.display_title|e }}</a> ({{ new.pub_date|datetimeformat }}). Download as <a href="/unidiff/{{ old.id|e }}/{{ new.id }}/">unified diff</a>.
  </p>
  {% if diff.chunks %}
    {{ render_diff_part(diff) }}
  {% else %}
    <p>The two pastes are identical.</p>
  {% endif %}
{% endblock %}
