{%- extends 'paste/base.html' %}

{%- block content %}
<h1>Pastebin</h1>
<p>This is the <strong>Pastebin</strong>, our first app.</p>

<h2>Paste something!</h2>
{{ form() }}

{% if recent_pastes %}
  <h2>Recent Pastes</h2>
  <ul>
    {% for p in recent_pastes %}
    <li><a href="{{ href(p) }}">{{ p }}</a> <span class="small">by {{ p.author|e }} ({{ p.pub_date.strftime('%F %T') }})</span></li>
    {% endfor %}
  </ul>
{% endif %}
<p><a href="{{ href('paste/browse') }}">Browse all pastes</a></p>
{%- endblock %}
