{%- extends 'paste/base.html' %}
{%- set title_trace = [paste.display_title|e] %}
{%- set styles = ['highlighting.css', 'paste.css'] %}
{%- set tab = 'browse' %}

{%- block paste_header %}
{%- trans title=paste.display_title|e, author=paste.author|e %}
Paste {{ title }} by {{ author }}
{%- endtrans %}
{% endblock %}

{% block pagetabs %}
<li><a href="{{ href(paste, action='raw') }}">Raw</a></li>
{% endblock %}

{%- block paste_content %}
<div class="pasted_code">
  {{ paste.rendered_code }}
</div>
<p><span class="small">Created on {{ paste.pub_date|datetimeformat }}.</span></p>
{%- endblock %}
