{%- extends 'paste/base.html' %}
{%- set title_trace = [paste.display_title] %}
{%- set tab = 'browse' %}

{%- block paste_header %}
{%- trans title=paste.display_title, author=paste.author -%}
Paste {{ title }} by {{ author }}
{%- endtrans %}
{% endblock %}

{% block pagetabs %}
<li><a href="{{ href(paste, action='raw') }}">{{ _('Raw') }}</a></li>
<li><a href="{{ href(paste, action='reply') }}">{{ _('Reply') }}</a></li>
{% if paste.has_tree %}
<li><a href="{{ href(paste, action='show_tree') }}">{{ _('Paste Tree') }}<a></li>
{% endif %}
{% endblock %}

{%- block paste_content %}
<div class="highlighted">
  {{ paste.rendered_text|safe }}
</div>
<p><span class="small">Created on {{ paste.pub_date|datetimeformat }}.
{%- if paste.parent %} Answer to <a href="{{ href(paste.parent) }}">{{ paste.parent.display_title }}</a> or <a href="{{ href('paste/compare_paste', new_id=paste.id, old_id=paste.parent.id) }}">compare with parent</a>{% endif -%}</span></p>
{%- endblock %}
