{%- extends 'forum/questions.html' %}
{% from 'utils/macros.html' import form_fields %}
{%- set scripts = scripts|default([]) + ['jquery.tokeninput.js'] %}
{%- set styles = styles|default([]) + ['widgets.css'] %}
{%- set tab='ask' %}
{%- set trace = [[_('Ask a Question'), href('forum/ask')]] %}

{%- block questions_body %}
<form action="" method="post" id="forum_new_answer">
  {{ form_fields(form) }}
  <fieldset class="actions">
    <input type="submit" value="{{ _('Submit') }}">
  </fieldset>
</form>
{%- endblock %}
