{%- extends 'forum/base.html' %}

{%- block content %}
  <p>{{ _('Welcome to our bulletin board!') }}</p>

  <ul>
    {%- for forum in forums %}
      <li>
        <a href="{{ href(forum) }}">{{ forum.name }}</a><br>
        {{ forum.description }}
        {%- if forum.subforums %}
          <p>
            <strong>{{ _('Subforums:') }}</strong>
            {%- for subforum in forum.subforums %}
              <a href="{{ href(subforum) }}">{{ subforum.name }}</a>
              {%- if not loop.last %}, {% endif %}
            {%- endfor %}
          </p>
        {%- endif %}
      </li>
    {%- endfor %}
  </ul>
  <p><a href="{{ href('forum/questions') }}">{{ _('All Questions') }}</a></p>

{%- endblock %}
