{%- extends 'forum/base.html' %}
{% from 'utils/macros.html' import form_fields, user_link %}
{%- set trace = [[question.title, href(question)]] %}
{%- block content %}

  <div class="author">{{ _('asked') }} <strong>{{ question.date_created|timedelta }}</strong><br>
      {{ _('by') }} {{ user_link(question.author) }}
      ({{ ngettext('%(num)d visit', '%(num)d visits', question.view_count) }})
  </div>

  <div class="question-detail">
    <div class="vote">
      {%- set vote = question.get_vote(request.user) %}
      {%- if request.user != question.author %}
        {%- if vote and vote.score > 0 %}
          <a href="{{ href('forum/vote', entry_id=question.id, action='revoke') }}">
            <img src="{{ href('static', file='img/voted-up.png') }}" alt="{{ _('vote revoke') }}">
          </a>
        {%- else %}
          <a href="{{ href('forum/vote', entry_id=question.id, action='up') }}">
            <img src="{{ href('static', file='img/vote-up.png') }}" alt="{{ _('vote up') }}">
          </a>
        {%- endif %}
      {%- endif %}
      <strong>{{ question.score }}</strong>
      {%- if request.user != question.author %}
        {%- if vote and vote.score < 0 %}
          <a href="{{ href('forum/vote', entry_id=question.id, action='revoke') }}">
            <img src="{{ href('static', file='img/voted-down.png') }}" alt="{{ _('vote revoke') }}">
          </a>
        {%- else %}
          <a href="{{ href('forum/vote', entry_id=question.id, action='down') }}">
            <img src="{{ href('static', file='img/vote-down.png') }}" alt="{{ _('vote down') }}">
          </a>
        {%- endif %}
        {%- if vote and vote.favorite %}
          <a href="{{ href('forum/vote', entry_id=question.id, action='nofavorite') }}">
            <img src="{{ href('static', file='img/favorite.png') }}" alt="{{ _('favorite') }}">
          </a>
        {%- else %}
          <a href="{{ href('forum/vote', entry_id=question.id, action='favorite') }}">
            <img src="{{ href('static', file='img/nofavorite.png') }}" alt="{{ _('no favorite') }}">
          </a>
        {%- endif %}
      {%- endif %}
    </div>

    <div class="summary">

      {{ question.get_rendered_text(question.text)|safe }}
      {% if question.author.profile.signature_html %}
        <div class="signature">{{ question.author.profile.signature_html|safe }}</div>
      {% endif %}
      <p>{{ _('Tags: ') }}
        {%- for tag in question.tags %}
          <a class="tag" href="{{ href('forum/questions', tags=tag.name) }}">{{ tag.name }}</a>
        {%- endfor %}
      </p>
    </div>
  </div>

  <br style="clear: both">

  <h2>
    {%- trans count=question.answer_count, human_count=question.answer_count|humanize|capitalize -%}
      {{ human_count }} Answer{% pluralize %}{{ human_count }} Answers
    {%- endtrans -%}
  </h2>
  {%- set tab = sort or 'votes' %}
  <ul class="pagetabs">
    <li{% if tab == 'votes' %} class="selected"{% endif %}>
      <a href="{{ href(question) }}">{{ _('Votes') }}</a>
    </li>
    <li{% if tab == 'latest' %} class="selected"{% endif %}>
      <a href="{{ href(question, sort='latest') }}">{{ _('Latest') }}</a>
    </li>
    <li{% if tab == 'oldest' %} class="selected"{% endif %}>
      <a href="{{ href(question, sort='oldest') }}">{{ _('Oldest') }}</a>
    </li>
  </ul>

  {% for answer in answers %}
    <div class="answer" id="answer-{{ answer.id }}">
      <div class="vote">
        {%- set vote = user_votes[answer.id] %}
        {%- if request.user != answer.author %}
          {%- if vote and vote > 0 %}
            <a href="{{ href('forum/vote', entry_id=answer.id, action='revoke') }}">
              <img src="{{ href('static', file='img/voted-up.png') }}" alt="{{ _('vote revoke') }}">
            </a>
          {%- else %}
            <a href="{{ href('forum/vote', entry_id=answer.id, action='up') }}">
              <img src="{{ href('static', file='img/vote-up.png') }}" alt="{{ _('vote up') }}">
            </a>
          {%- endif %}
        {%- endif %}
        <strong>{{ answer.score }}</strong>
        {%- if request.user != answer.author %}
          {%- if vote and vote < 0 %}
            <a href="{{ href('forum/vote', entry_id=answer.id, action='revoke') }}">
              <img src="{{ href('static', file='img/voted-down.png') }}" alt="{{ _('vote revoke') }}">
            </a>
          {%- else %}
            <a href="{{ href('forum/vote', entry_id=answer.id, action='down') }}">
              <img src="{{ href('static', file='img/vote-down.png') }}" alt="{{ _('vote down') }}">
            </a>
          {%- endif %}
       {%- endif %}
      </div>

      <div class="author">
        {{ _('answered <strong>%(date)s</strong>', date=answer.date_created|timedelta) }}<br>
        by {{ user_link(answer.author) }}<br>
        <a href="{{ href(answer) }}">Permalink</a>
        {%- if answer.author == request.user %}
          <br><a href="{{ href('forum/answer', entry_id=answer.id) }}">Edit</a><br>
        {%- endif %}
      </div>
      <div class="summary">
        {{ answer.get_rendered_text(answer.text)|safe }}
        {% if answer.author.profile.signature_html %}
          <hr>
          <div class="signature">{{ answer.author.profile.signature_html|safe }}</div>
        {% endif %}
      </div>
    </div>
    <hr class="answer_seperator">
  {% else %}
    <p>{{ _('There aren\'t any answers yet.') }}</p>
  {% endfor %}

  {{ pagination() }}

  <h2>{{ _('Your Answer') }}</h2>
  <form action="" method="post" id="forum_news_answer">
    {{ form_fields(form) }}
    <fieldset class="actions">
      <input type="submit" value="{{ _('Submit') }}">
    </fieldset>
  </form>

{%- endblock %}
