{%- extends 'portal/base.html' %}
{% from 'utils/macros.html' import form_fields %}

{%- set trace = [[_('Tags'), href('portal/tags')]] %}
{%- if tag.name %}
  {%- do trace.extend([[_('“%(tag)s“', tag=tag.name), href(tag)],
                       [_('Edit'), href(tag, action='edit')]]) %}
{%- else %}
  {%- do trace.append([_('New'), href('portal/tag_edit')]) %}
{%- endif %}
{%- block content %}
  <form action="" method="post" id="admin_tag_edit">
    {{ form_fields(form, class="horiz-left") }}
    <fieldset class="actions">
      <input type="submit" value="{{ _('Submit') }}">
      {% if tag.name %}
        <input type="submit" name="delete" value="{{ _('Delete') }}">
      {% endif %}
    </fieldset>
  </form>
{%- endblock %}
