{%- extends 'admin/base.html' %}
{% from 'utils/macros.html' import form_fields %}
{%- if tag.name %}
  {%- set trace = [[_('Edit “%(tag)s”', tag=tag.name), href(tag, action='edit')]] %}
{%- else %}
  {%- set trace = [[_('New Tag'), href('portal/tag_edit')]] %}
{%- endif %}
{%- set trace = [[_('Portal'), href('portal/index')], [_('Tags'), href('portal/tags')]] + trace %}

{%- block admin_content %}
  <form action="" method="post" id="admin_tag_edit">
    {{ form_fields(form, class="horiz-left") }}
    <fieldset class="actions">
      <input type="submit" value="{{ _('Submit') }}">
      {% if tag.name %}
        <input type="submit" name="delete" value="{{ _('Delete') }}">
      {% endif %}
    </fieldset>
  </form>
{%- endblock %}
