{%- extends 'admin/base.html' %}
{% from 'utils/macros.html' import form_fields %}
{%- set scripts = scripts|default([]) + ['jquery.tokeninput.js'] %}
{%- set styles = styles|default([]) + ['widgets.css'] %}
{%- if article.slug %}
  {%- set trace = [[_('Edit “%(article)s”', article=article.title), href(article, action='edit')]] %}
{%- else %}
  {%- set trace = [[_('New Article'), href('admin/news/article_edit')]] %}
{%- endif %}
{%- set trace = [[_('News'), href('admin/news/index')]] + trace %}

{%- block admin_content %}
<form method="post" action="" id="admin_edit_article">
  {{ form_fields(form) }}
  <fieldset class="actions">
    <input type="submit" value="{{ _('Submit') }}">
    {% if article.slug -%}
    <input type="submit" name="delete" value="{{ _('Delete') }}">
    {%- endif %}
  </fieldset>
</form>

{%- endblock %}
