{%- extends 'forum/base.html' %}

{%- block content %}

{% if forum is defined and forum %}
<h1>Forum “{{ forum.name|e }}”</h1>

<p>{{ forum.description|e }}</p>

{% if forum.subforums %}
<p><strong>Subforums:</strong>
{% for subforum in forum.subforums %}
<a href="{{ href(subforum) }}">{{ subforum.name }}</a>
{% endfor %}
</p>
{% endif %}

<p>
{% for tag in forum.tags %}
<a class="tag" href="{{ href(tag) }}">{{ tag.name }}</a>
{% endfor %}
</p>

<ul class="tabs">
    {% if tab is undefined %}
        {% set tab = 'newest' %}
    {% endif %}
    <li{% if tab == 'newest' %} class="selected"{% endif %}>
        <a href="{{ href(forum) }}">Newest</a></li>
    <li{% if tab == 'active' %} class="selected"{% endif %}>
        <a href="{{ href(forum, sort='active') }}">Active</a></li>
    <li{% if tab == 'ask' %} class="selected"{% endif %}>
        <a href="{{ href('forum/ask', forum=forum.slug) }}">Ask Question</a></li>
</ul>

{% else %}
  {% if tags is defined and tags %}
    <h1>Tagged Questions</h1>
    <p>
    {% for tag in tags %}
        <a class="tag" href="{{ href(tag) }}">{{ tag.name }}</a>
    {% endfor %}
    </p>
  {% else %}
    <h1>All Questions</h1>
  {% endif %}

  <ul class="tabs">
    {% if tab is undefined %}
        {% set tab = 'newest' %}
    {% endif %}
    <li{% if tab == 'newest' %} class="selected"{% endif %}>
        <a href="{{ href('forum/questions') }}">Newest</a></li>
    <li{% if tab == 'active' %} class="selected"{% endif %}>
        <a href="{{ href('forum/questions', sort='active') }}">Active</a></li>
    <li{% if tab == 'ask' %} class="selected"{% endif %}>
        <a href="{{ href('forum/ask') }}">Ask Question</a></li>
    </ul>
{% endif %}

{% block questions_body %}

{% for question in questions %}
<div class="question">
<div class="question-left">
    {% trans count=question.answers|length %}
    <span class="number">{{ count }}</span> answer
    {% pluralize %}
    <span class="number">{{ count }}</span> answers
    {% endtrans %} 
</div>

<div class="question-body">
<h2><a href="{{ href(question) }}">{{ question.title|e }}</a></h2>
<p>{{ question.summary|e }}</p>

<div class="author">
asked <strong>{{ question.date_asked|timedelta }}</strong><br />
<a href="{{ href('portal/profile', username=question.author.username) }}">{{ question.author }}</a>
</div>

<p>
{% for tag in question.tags %}
<a class="tag" href="{{ href(tag) }}">{{ tag.name }}</a>
{% endfor %}
</p>
</div>

<br style="clear: both;" />
</div>
{% endfor %}
{% endblock %}

{%- endblock %}
