{%- extends 'forum/base.html' %}

{%- block content %}
<div class="question-detail">
  <h1><a href="{{ href(question) }}">{{ question.title|e }}</a></h1>
  <div class="vote">
    <a href="{{ href(question, action='vote-up') }}"><img src="{{ href('static', file='img/vote-up.png') }}" alt="vote up" /></a>
  <strong>{{ question.score|e }}</strong>
    <a href="{{ href(question, action='vote-down') }}"><img src="{{ href('static', file='img/vote-down.png') }}" alt="vote down" /></a>
  </div>  
  <div class="summary">
    
    <p>{{ question.text|e }}</p>

    <div class="author">asked <strong>{{ question.date_asked|timedelta }}</strong><br />
        <a href="{{ href('portal/profile', username=question.author.username) }}">{{ question.author }}</a>
    </div>

    <p>
        {% for tag in question.tags %}
        <a class="tag" href="{{ href(tag) }}">{{ tag.name }}</a>
        {% endfor %}
    </p>
  </div>
</div>

<br style="clear: both" />

{% trans count=question.answers|length %}
<h2>{{ count }} Answer</h2>
{% pluralize %}
<h2>{{ count }} Answers</h2>
{% endtrans %}
{% set tab = sort or 'votes' %}
<ul class="tabs">
    <li{% if tab == 'votes' %} class="selected"{% endif %}>
        <a href="{{ href(question) }}">Votes</a></li>
    <li{% if tab == 'newest' %} class="selected"{% endif %}>
        <a href="{{ href(question, sort='newest') }}">Newest</a></li>
    <li{% if tab == 'oldest' %} class="selected"{% endif %}>
        <a href="{{ href(question, sort='oldest') }}">Oldest</a></li>
</ul>

{% for answer in answers %}
<div class="answer">
    <div class="vote">
    <a href="#"><img src="{{ href('static', file='img/vote-up.png') }}" alt="vote up" /></a>
  <strong>0</strong>
    <a href="#"><img src="{{ href('static', file='img/vote-down.png') }}" alt="vote down" /></a>
  </div> 
    <div class="summary"> 

    <div class="author">answered <strong>{{ answer.date_answered|timedelta }}</strong><br />
        <a href="{{ href('portal/profile', username=question.author.username) }}">{{ answer.author }}</a>
    </div>
    <p>{{ answer.text|e }}</p>
    </div>
    </div>
{% else %}
    <p>There aren't any answers yet.</p>
{% endfor %}

{{ pagination }}

<h2>Your Answer</h2>
{{ form() }}

{%- endblock %}
