{%- extends 'forum/base.html' %}

{%- block content %}

<div class="author">asked <strong>{{ question.date_created|timedelta }}</strong><br />
    by <a href="{{ href(question.author.profile) }}">{{ question.author }}</a>
    ({% trans count=question.view_count %}{{ count }} visit{% pluralize %}{{ count }} visits{% endtrans %})
</div>

<div class="question-detail">
  <h1><a href="{{ href(question) }}">{{ question.title|e }}</a></h1>


  <div class="vote">
    {% set vote = question.get_vote(request.user) %}
    {% if vote and vote.score > 0 %}
      <a href="{{ href('forum/vote', entry_id=question.id, action='revoke') }}">
        <img src="{{ href('static', file='img/voted-up.png') }}" alt="vote revoke" />
      </a>
    {% else %}
      <a href="{{ href('forum/vote', entry_id=question.id, action='up') }}">
        <img src="{{ href('static', file='img/vote-up.png') }}" alt="vote up" />
      </a>
    {% endif %}
    <strong>{{ question.score|e }}</strong>
    {% if vote and vote.score < 0 %}
      <a href="{{ href('forum/vote', entry_id=question.id, action='revoke') }}">
        <img src="{{ href('static', file='img/voted-down.png') }}" alt="vote revoke" />
      </a>
    {% else %}
      <a href="{{ href('forum/vote', entry_id=question.id, action='down') }}">
        <img src="{{ href('static', file='img/vote-down.png') }}" alt="vote down" />
      </a>
    {% endif %}
    <p>
    {% if vote and vote.favorite %}
    <a href="{{ href('forum/vote', entry_id=question.id, action='nofavorite') }}">
        <img src="{{ href('static', file='img/favorite.png') }}" alt="favorite" />
      </a>
    {% else %}
      <a href="{{ href('forum/vote', entry_id=question.id, action='favorite') }}">
        <img src="{{ href('static', file='img/nofavorite.png') }}" alt="no favorite" />
      </a>
    {% endif %}
    </p>
  </div>

  <div class="summary">

    <p>{{ question.text|e }}</p>
    <p>{{ _('Tags: ') }}
        {% for tag in question.tags %}
        <a class="tag" href="{{ href('forum/questions', tags=tag.name) }}">{{ tag.name }}</a>
        {% endfor %}
    </p>
  </div>
</div>

<br style="clear: both" />

{% trans count=question.answers|length -%}
<h2>{{ count }} Answer</h2>
{%- pluralize -%}
<h2>{{ count }} Answers</h2>
{%- endtrans %}
{% set tab = sort or 'votes' %}
<ul class="tabs">
    <li{% if tab == 'votes' %} class="selected"{% endif %}>
        <a href="{{ href(question) }}">Votes</a></li>
    <li{% if tab == 'latest' %} class="selected"{% endif %}>
        <a href="{{ href(question, sort='latest') }}">Latest</a></li>
    <li{% if tab == 'oldest' %} class="selected"{% endif %}>
        <a href="{{ href(question, sort='oldest') }}">Oldest</a></li>
</ul>

{% for answer in answers %}
<div class="answer">
  <div class="vote">
    {% set vote = answer.get_vote(request.user) %}
    {% if vote and vote.score > 0 %}
      <a href="{{ href('forum/vote', entry_id=answer.id, action='revoke') }}">
        <img src="{{ href('static', file='img/voted-up.png') }}" alt="vote revoke" />
      </a>
    {% else %}
      <a href="{{ href('forum/vote', entry_id=answer.id, action='up') }}">
        <img src="{{ href('static', file='img/vote-up.png') }}" alt="vote up" />
      </a>
    {% endif %}
    <strong>{{ answer.score|e }}</strong>
    {% if vote and vote.score < 0 %}
      <a href="{{ href('forum/vote', entry_id=answer.id, action='revoke') }}">
        <img src="{{ href('static', file='img/voted-down.png') }}" alt="vote revoke" />
      </a>
    {% else %}
      <a href="{{ href('forum/vote', entry_id=answer.id, action='down') }}">
        <img src="{{ href('static', file='img/vote-down.png') }}" alt="vote down" />
      </a>
    {% endif %}
  </div>

  <div class="summary">
    <div class="author">
      answered <strong>{{ answer.date_created|timedelta }}</strong><br />
      <a href="{{ href(question.author.profile) }}">{{ answer.author }}</a>
    </div>
    <p>{{ answer.text|e }}</p>
  </div>
</div>
{% else %}
<p>There aren't any answers yet.</p>
{% endfor %}

{{ pagination }}

<h2>Your Answer</h2>
{{ form() }}

{%- endblock %}
