{%- extends 'forum/base.html' %}

{%- block content %}

{% if forum %}
  <h1>Forum “{{ forum.name|e }}”</h1>

  <p>{{ forum.description|e }}</p>

  {% if forum.subforums %}
    <p><strong>Subforums:</strong>
    {% for subforum in forum.subforums %}
      <a href="{{ href(subforum) }}">{{ subforum.name }}</a>
    {% endfor %}
    </p>
  {% endif %}

  <p class="tags">
  {% for tag in forum.tags %}
    <a class="tag" href="{{ href(tag) }}">{{ tag.name }}</a>
  {% endfor %}
  </p>

  {% set url_values = {'forum': forum.slug} %}

{% elif tags %}
  <h1>Tagged Questions</h1>
 
  <p class="tags">
  {% for tag in tags %}
    <a class="tag" href="{{ href(tag) }}">{{ tag.name }}</a>
  {% endfor %}
  </p>

  {% set url_values = {'tags': tags|join(' ')} %}

{% else %}
  <h1>All Questions</h1>

  {% set url_values = {} %}
{% endif %}

<ul class="tabs">
    {% if tab is undefined %}
        {% set tab = sort or 'newest' %}
    {% endif %}
    <li{% if tab == 'newest' %} class="selected"{% endif %}>
        <a href="{{ href('forum/questions', **url_values) }}">Newest</a></li>
    <li{% if tab == 'active' %} class="selected"{% endif %}>
        <a href="{{ href('forum/questions', sort='active', **url_values) }}">Active</a></li>
    <li{% if tab == 'votes' %} class="selected"{% endif %}>
        <a href="{{ href('forum/questions', sort='votes', **url_values) }}">Votes</a></li>
    <li{% if tab == 'ask' %} class="selected"{% endif %}>
        <a href="{{ href('forum/ask', **url_values) }}">Ask Question</a></li>
</ul>

{% block questions_body %}

{% for question in questions %}
<div class="question">
  <div class="stats">
    <div class="votes">
      {% trans votes=question.score -%}
      <strong>{{ votes }}</strong> vote
      {%- pluralize -%}
      <strong>{{ votes }}</strong> votes
      {%- endtrans %} 
    </div>

    <div class="status{% if not question.answers %} unanswered{% endif %}">
      {% trans answers=question.answers|length -%}
      <strong>{{ answers }}</strong> answer
      {%- pluralize -%}
      <strong>{{ answers }}</strong> answers
      {%- endtrans %}
    </div>
  </div>
  
  <div class="author">
    asked <strong>{{ question.date_asked|timedelta }}</strong>
    by <a href="{{ href('portal/profile', username=question.author.username) }}">{{ question.author }}</a>
  </div>

  <div class="summary">
    <h2><a href="{{ href(question) }}">{{ question.title|e }}</a></h2>

    <ul class="tags">
      {% for tag in question.tags %}
      <li><a class="tag" href="{{ href(tag) }}">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>

  </div>
</div>
{% else %}
<p>No questions found.</p>
{% endfor %}
{{ pagination }}

{% endblock %}

{%- endblock %}
