{% extends 'portal/usercp/base.html' %}
{% from 'utils/macros.html' import form_field %}
{%- set trace = [[_('Change Password'), href('usercp/password')]] %}

{% block content %}
  <p>
    {{ _('Here you can change your account\'s password.') }}<br>
    {{ _('For security reasons you\'ve to enter your old password once again.') }}
  </p>
  <form action="" method="post" id="usercp_password_change">
    {{ form_field(form.csrf) }}
    <ol>
      <li class="horiz-left">{{ form_field(form.old_password) }}</li>
      <li class="horiz-left">
        {{ form_field(form.new_password) }}
        {%- if random_pw %}
          {{ _('Generated password: <code id="random_password">%(password)s</code> |', password=random_pw) }}
        {%- endif %}
        <a href="{{ href('usercp/password', random=true) }}" id="random_password_link">
        {%- if random_pw %}
          {{ _('generate another') }}
        {% else %}
          {{ _('Generate random password') }}
        {%- endif %}
        </a>
      </li>
      <li class="horiz-left">{{ form_field(form.new_password_confirm) }}</li>
    </ol>
    <fieldset class="actions">
      <input type="submit" value="{{ _('Change Password') }}">
    </fieldset>
  </form>
{%- endblock %}
