{% extends "paste/base.html" %}
{% set trace = [[paste.display_title, href(paste)], [_('Paste Tree'), href(paste, action='show_tree')]] %}
{% block paste_content %}
  <p>{{ _('Here you can see the tree of paste replies. The paste you\'re coming from is highlighted.') }}</p>
  <ul class="revision_tree">
  {%- for paste in [paste] recursive %}
    <li{% if paste.id == current %} class="highlighted"{% endif %}>
      <a href="{{ href(paste) }}">{{ paste.display_title }}</a> &mdash;
      {{ paste.pub_date|datetimeformat }}
      {%- if paste.children -%}
        <ul>{{ loop(paste.children) }}</ul>
      {%- endif -%}
    </li>
  {%- endfor %}
  </ul>
{% endblock %}
