{%- extends 'base.html' %}
{%- set sidebar = false %}
{%- set page_name = page is string and page or page.name %}
{%- if page is not string %}
  {%- set trace = [[page_name, href(page)]] + trace|default([]) %}
{%- endif %}
{%- set trace = [['Wiki', href('wiki/index')]] + trace %}

{%- macro show_tab(id, name, title=none) %}
  <li{% if current_tab|default() == id %} class="selected"{% endif %}>
    <a href="{{ href('wiki/'+id, page=page_name) }}"{% if title %} title="{{ title }}"{% endif %}>
      {{ name }}
    </a>
  </li>
{%- endmacro %}

{%- block content %}
  <ul class="pagetabs">
    {{ show_tab('show', _('Show')) }}
    {{ show_tab('edit', _('Edit')) }}
    {{ show_tab('history', _('History')) }}
    {{ show_tab('attachments', _('Attachments')) }}
  </ul>

  {% block wiki_content %}{% endblock wiki_content %}
{%- endblock %}
