{% extends 'usercp/base.html' %}
{% from 'utils/macros.html' import render_fields %}

{% block content %}
<h1>{{ _('Change Password')  }}</h1>
<p>
  {{ _('Here you can change your account\'s password.') }}<br />
  {{ _('For security reasons you\'ve to enter your old password once again.') }}
</p>
<form action="" method="post" id="usercp_password_change">
{{ render_fields(form) }}

<p>
  {%- if random_pw %}
  {{ _('Generated password: <code id="random_password">%(password)s</code> |', password=random_pw) }}
  {%- endif %}
  <a href="{{ href('usercp/password', random=true) }}" id="random_password_link">
  {%- if random_pw %}{{ _('generate another') }}{% else %}{{ _('Generate random password') }}{%- endif %}
  </a>
</p>
<p class="actions">
  <input type="submit" value="{{ _('Change Password') }}">
</p>

{%- endblock %}
