{%- set sidebar = sidebar|default(True) %}
{%- set introduction = introduction|default(False) %}
{%- set styles = ['main.css'] + styles|default([]) %}
{%- set styles = ['table.css'] + styles|default([]) %}
{%- set styles = ['reset.css'] + styles|default([]) %}
{%- set scripts = ['jQuery.js'] + scripts|default([]) %}
<html>
  <head>
    <title>{{ (title_trace|default([]) + ['Inyoka'])|join(' › ') }}</title>
    {%- for script in scripts %}
    <script type="text/javascript" src="{{ href('static', file='js/' + script) }}"></script>
    {%- endfor %}
    {%- for style in styles %}
    <link rel="stylesheet" type="text/css" href="{{ href('static', file='style/' + style) }}" />
    {%- endfor %}
    <link rel="shortcut icon" type="image/icon" href="{{ href('static', file='img/favicon.ico') }}" />
  </head>
  <body>

    {%- for message in request.flash_messages %}
    <div class="flash_message{% if message.success == true %} success{%elif message.success == false %} fail{% endif %}">
      {{ message.text }}
    </div>
    {%- endfor %}

    <div id="head">
      <h1>Inyoka</h1>
      <div id="navi">
      {% if request.user.is_anonymous %}
        <a href="{{ href('portal/login') }}">{{ _('Login') }}</a>
      {% else %}
        Hallo {{ request.user.display_name }} ({{ request.user.status }}) <a href="{{ href('portal/logout') }}">{{ _('Logout') }}</a>
      {% endif %}
      <a href="{{ href('portal/index') }}" class="icon-portal">{{ _('Portal') }}</a>
      <a href="{{ href('paste/index') }}" class="icon-pastebin">{{ _('Pastebin') }}</a>
      <a href="{{ href('news/index') }}" class="icon-news">{{ _('News') }}</a>
      <a href="{{ href('forum/index') }}" class="icon-forum">{{ _('Forum') }}</a>
      {# TODO: ACL #}
      <a href="{{ href('admin/index') }}"class="icon-admin">{{ _('Admin') }}</a>
      </div>
    </div>
    <div id="page">
      <div id="page-inner">
        {% if introduction %}
        <div id="page-introduction">
          {% block introduction %}{% endblock introduction %}
        </div>
        {% endif %}
        {% if sidebar %}
        <div id="page-sidebar">
          {% block sidebar %}{% endblock sidebar %}
        </div>
        {% endif %}
        <div id="content" {% if sidebar %}class="with-sidebar"{% endif %}>
          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
