{%- set sidebar = sidebar|default(False) %}
{%- set introduction = introduction|default(False) %}
{%- set styles = ['typography.css', 'layout.css', 'debug.css'] + styles|default([]) %}
{%- set styles = ['reset.css', 'table.css', 'forms.css'] + styles|default([]) %}
{%- set scripts = ['jQuery.js'] + scripts|default([]) %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ (title_trace|default([]) + ['Inyoka'])|join(' › ') }}</title>
     <script type=text/javascript>
       $SCRIPT_ROOT = {{ request.script_root|jsonencode|safe }};
     </script>
    {%- for script in scripts %}
    <script type="text/javascript" src="{{ href('static', file='js/' + script) }}"></script>
    {%- endfor %}
    {%- for style in styles %}
    <link rel="stylesheet" type="text/css" href="{{ href('static', file='style/' + style) }}" media="screen" />
    {%- endfor %}
    <link rel="stylesheet" href="{{ href('static', file='style/print.css') }}" media="print" />
    <link rel="shortcut icon" type="image/icon" href="{{ href('static', file='img/favicon.ico') }}" />
  </head>
  <body>

    {%- for message in request.flash_messages %}
    <div class="flash_message{% if message.success == true %} success{% elif message.success == false %} error{% else %} notice{% endif %}">
      {{ message.text }}
    </div>
    {%- endfor %}

    <div id="head">
      <h1><a href="{{ request.host_url }}">Inyoka</a></h1>
      <div id="navi">
      <a href="{{ href('portal/index') }}" class="icon-portal{% if active=='portal' %} active{% endif %}">{{ _('Portal') }}</a>
      <a href="{{ href('paste/index') }}" class="icon-pastebin{% if active=='paste' %} active{% endif %}">{{ _('Pastebin') }}</a>
      <a href="{{ href('news/index') }}" class="icon-news{% if active=='news' %} active{% endif %}">{{ _('News') }}</a>
      <a href="{{ href('wiki/index') }}" class="icon-wiki{% if active=='wiki' %} active{% endif %}">{{ _('Wiki') }}</a>
      <a href="{{ href('forum/index') }}" class="icon-forum{% if active=='forum' %} active{% endif %}">{{ _('Forum') }}</a>
      {# TODO: ACL #}
      <a href="{{ href('admin/index') }}" class="icon-admin{% if active=='admin' %} active{% endif %}">{{ _('Admin') }}</a>
      </div>
    </div>
    <div id="page">
      <div id="page-inner">
        <div id="page-navbar">
          <span class="pathbar">Yet / A Dummy / Pathbar</span>
          <span class="user-status">
            {% if request.user.is_anonymous %}
              <a href="{{ href('portal/login') }}">{{ _('Login') }}</a> <a href="{{ href('portal/register') }}">Register</a>
            {% else %}
            {{ _('Hello') }} {{ request.user.display_name }} ({{ request.user.status }}) <a href="{{ href('portal/logout') }}">{{ _('Logout') }}</a>
            {% endif %}
          </span>
        </div>
        {% if introduction %}
        <div id="page-introduction">
          {% block introduction %}{% endblock introduction %}
        </div>
        {% endif %}
        {% if sidebar %}
        <div id="page-sidebar">
          {% block sidebar %}{% endblock sidebar %}
        </div>
        {% endif %}
        <div id="content" {% if sidebar %}class="with-sidebar"{% endif %}>
          {% block content %}{% endblock content %}
        </div>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
